<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create teacher card</title>
</head>
<body>

<h1>Create teacher card</h1>
<form th:action="@{/teachers/add}" method="post" th:object="${teacher}">

    <div class="form-group mb-3">
        <label class="form-label"> First name: </label>
        <input class="form-control form-control-lg" type="text"
               th:field="*{firstName}"
               required>
    </div>

    <div class="form-group mb-3">
        <label class="form-label"> Last name: </label>
        <input class="form-control form-control-lg" type="text"
               th:field="*{lastName}"
               required>
    </div>

    <div class="form-group mb-3">
        <label class="form-label"> Position: </label>
        <input class="form-control form-control-lg" type="text"
               th:field="*{position}">
    </div>

    <button type="submit">Create teacher card</button>
</form>
</body>